@import 'mq';
@import 'font';

.footer {
  background: var(--mainColor);
  padding: 20px 20px;
  color: var(--footerTextColor);
  dl {
    text-align: center;
    font-size: 1.4rem;
    margin: 0 0 20px;
  }
  dt {
    margin: 0 0 15px;
  }
  dd {
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    margin: 0 10px;
  }
  a {
  }
  small {
    display: block;
    font-size: 1rem;
    text-align: center;
  }
}
