@import "mq";
@import "font";

.iconBtn {
  display: inline-block;
  background: var(--btnColor);
  color: var(--btnIconColor);
  padding: 15px 10px;
  min-width: 120px;
  font-size: 1.4rem;
  text-decoration: none;
  font-size: 0;
  &:visited {
    color: var(--btnIconColor);
  }
}
.icon {
  width: 20px !important;
  height: 20px !important;
}
