@import "mq";
@import "font";

.pagination {
  text-align: center;
  border-top: var(--borderColor) 2px solid;
  border-bottom: var(--borderColor) 2px solid;
  padding: 20px 0;
  margin: var(--s10) 0;
  vertical-align: top;
  li {
    display: inline-block;
    margin: 0 6px 0;
  }
  a {
    display: block;
    background: var(--color1);
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.active a{
  background: #ddd;
  color: var(--color1);
  font-weight: bold;
}
