@import 'mq';
@import 'font';

////////////////////////////
// リスト
////////////////////////////
.panelsList {
  margin: 0 auto 0;
  article {
    border-bottom: 1px solid var(--borderColor);
    padding: var(--s5) 0;
    &:first-of-type {
      border-top: 1px solid var(--borderColor);
    }
  }
  a {
    color: var(--linkColor);
    text-decoration: none;
  }

  time {
    font-size: 1.4rem;
    margin: 0 0 4px 0;
    display: block;
  }
  dl {
    background: var(--baseColor);
    display: flex;
    align-items: center;
  }
  dt {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: var(--mainColor);
    border: 1px solid var(--borderColor);
    @include max-screen(600px) {
      width: 70px;
      height: 70px;
      &:after {
        height: 70px;
      }
    }
  }

  dd {
    padding: 0 0 0 var(--s6);
    flex: 1;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    background: var(--baseColor);
    line-height: 1.7;
    position: relative;
    letter-spacing: 0.2em;
    word-break: break-all;
    margin-bottom: var(--s1);
    &:after {
      content: '';
      position: relative;
      right: -1em;
      float: right;
      width: 1em;
      height: 100%;
      background-color: inherit;
      margin-left: -1em;
    }
  }

  p {
    font-size: 1rem;
    display: block;
    &:empty {
      display: none;
    }
    span {
      display: inline-block;
      padding: var(--s1) var(--s2);
      background: #222;
      border-radius: 3px;
      color: var(--iconTextColor);
      margin-top: var(--s1);
      &:not(:last-of-type) {
        margin-right: var(--s1);
      }
    }
  }
}
