@import 'mq';
@import 'font';

$articles_bp: 700px;

.viewSwitch {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid var(--borderColor);
  margin: 0 0 var(--s10);
  padding: 0 0 15px;
  button {
    opacity: 0.5;
    background: none;
    padding: 0;
    border: none;
    outline: none;
    margin-left: 15px;
    &[class='is-current'] {
      opacity: 1;
    }
    cursor: pointer;
    svg {
      width: 30px;
      height: 30px;
      color: var(--mainColor);
    }
  }
}
