@import "mq";
@import "font";


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  left:0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  font-size: 10px;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.1);
  border-right: 1.1em solid rgba(0, 0, 0, 0.1);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.1);
  border-left: 1.1em solid rgba(0, 0, 0, 0.3);
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.container{
  width: 100%;
  border: 1px solid var(--borderColor);
}

.slider{
  position: relative;
  object-fit: cover;
  &:before{
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  img{
    position: absolute;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}

%sliderBtn {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  svg{
    width: 100% !important;
    height: 100% !important;
  }
  @include max-screen(930px) {
    display: none;
  }
}

.sliderPrev{
  @extend %sliderBtn;
  left: -55px;
  z-index: 1;
}

.sliderNext{
  @extend %sliderBtn;
  right: -55px;
  z-index: 1;
}

.indicator {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: var(--s5);
  font-size: 16px;
  font-weight: bold;
  span{
    border-radius: 100%;
    background: #000;
    width: 10px !important;
    height: 10px !important;
    background: #000 !important;
    opacity: 0.4;
    padding: 0 var(--s1) !important;
    &:only-child {
      display: none !important;
    }
    &.swiper-pagination-bullet-active{
      opacity: 1 !important;
    }
  }
}
