@import "mq";
@import "font";

$works_bp: 700px;

.worksList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:after {
    content: '';
    display: block;
    width: 31%;
    height: 0;
  }
  @include max-screen($works_bp) {
    &:after {
      display: none;
    }
  }
  li{
    width: 31%;
    border: 1px solid #ddd;
    margin-bottom: var(--s7);
    @include max-screen($works_bp) {
      width: 100%;
      margin-bottom: var(--s5);
    }
  }
  a{
    text-decoration: none;
    display: block;
  }
  dt {
    position: relative;
    margin: 0 0 10px;
    &:before{
      content: "";
      display: block;
      width: 100%;
      padding-top: 56.25%;
    }
  }
  dd {
    font-size: 1.5rem;
    padding: 0 15px 10px;

  }
  time {
    display: block;
    margin: 0 0 5px;
  }
  p {
    font-size: 1.1rem;
    span {
      line-height: 1.6;
      display: inline-block;
      padding: 2px 6px;
      background: #222;
      border-radius: 3px;
      color: #fff;
      margin-right: 3px;
      margin-bottom: 3px;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
  h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    line-height: 1.5;
  }
}
