@import 'tailwindcss';

/* --------------------------------------------------------------
  ユーティリティクラスとCSS変数の定義
-------------------------------------------------------------- */

@theme {
  /* breakpoint */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* color */
  --color-link-active: #339fef;
  --color-main: #24292e;
  --color-base: #24292e;
  --color-font: #000;
  --color-loader: #333333;
  --color-border: #dddddd;

  /* animation */
  @keyframes load8 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

/* ホバー時のクラス */
/* @custom-variant hover {
  &:not(.disabled, :disabled):hover {
    @slot;
  }
} */

/* --------------------------------------------------------------
  CSS変数の定義
-------------------------------------------------------------- */

/* :root {
} */

/* --------------------------------------------------------------
  全体の設定
-------------------------------------------------------------- */

body {
  overflow-y: scroll;
  font-feature-settings: 'palt';
  letter-spacing: 1px;
}
