@import "mq";
@import "font";

$articles_bp: 700px;

.main {
  max-width: 900px;
  margin: 0 auto var(--s20);
  padding: 0 var(--s5);
  @include max-screen($articles_bp) {
  }
}

.back {
  text-align: center;
}
