@import "mq";
@import "font";

$works_bp: 800px;
.main {
  max-width: 750px;
  margin: 0 auto var(--s20);

  @include max-screen($works_bp) {
    width: auto;
    margin: 0 var(--s5) var(--s10);
  }
}

.kv {
  position: relative;
  margin-bottom: var(--s10);
}
.kvInner {
  position: relative;

}

.info {
  padding: var(--s7) var(--s3);
  border-bottom: 1px solid #e5e5e5;
  @include max-screen($works_bp) {
    padding: var(--s7) 0;
  }
}

.infoList{
  li{
    &:not(:last-of-type) {
      margin: 0 0 var(--s4);
    }
  }
  dl {
    display: block;
    border: 1px solid #e5e5e5;
  }
  dt {
    font-weight: bold;
    font-size: 1.6rem;
    padding: var(--s3);
    background: #e5e5e5;
  }
  dd {
    padding: var(--s6) var(--s5);
    flex: 1;
    font-size: 1.6rem;
    span:not(:last-of-type) {
      position: relative;
      display: inline-block;
      padding-right: var(--s4);
      &:after {
        position: absolute;
        content: '/';
        display: block;
        font-weight: bold;
        right: 4px;
        top: 0;
      }
    }
  }
  div {
    padding: var(--s4) 0 0;
  }
  p {
    &:nth-of-type(1) {
      font-weight: bold;
      margin: 0 0 var(--s1);
    }
    font-size: 1.4rem;
  }
  a {
    word-break: break-word;
    display: block;
    &:not(:last-of-type) {
      margin-bottom: var(--s6);
    }
    svg {
      width: 10px;
      height: 10px;
      margin-left: 5px;
      vertical-align: baseline;
    }
  }
  @include max-screen($works_bp) {
    li{
      &:last-of-type {
        margin: 0 0 0;
      }
    }
    padding: 0 0 0;
    dl {
      display: block;
    }
    dt {
      width: auto;
    }
  }
}

.body {
  margin: 0 auto 0;
  font-size: 1.6rem;
  line-height: 1.8;
  padding: var(--s7) var(--s10);
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  word-wrap: break-word;
  strong{
    font-weight: bold;
  }
  @include max-screen($works_bp) {
    font-size: 1.4rem;
    padding: var(--s7) var(--s5);
    br {
      display: none;
    }
  }
}


.back {
  position: relative;
  text-align: center;
}

%pager{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 25px;
    height: 25px;
  }
}

.prev{
  @extend %pager;
  right: 0;
  svg {
    transform: translateX(1px);
  }
}

.next{
  @extend %pager;
  left: 0;
  svg {
    transform: translateX(-1px);
  }
}


.sns {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--borderColor);
  padding: var(--s7) 0;
  margin-bottom: var(--s7);
}

.snsChild {
  margin: 0 var(--s3) 0;
}

%snsLink{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 35px;
  cursor: pointer;
  svg {
    width: 20px !important;
    height: 20px !important;
  }
}

.facebook{
  @extend %snsLink;
  background: #4267b2;
}

.twitter{
  @extend %snsLink;
  background: #1da1f2;
}


