@import "mq";
@import "font";

$works_bp: 700px;

.main {
  max-width: 900px;
  margin: 0 auto var(--s20);
  padding: 0 var(--s5);
}
.filter {
  display: flex;
  margin: 0 0 var(--s5);
  @include max-screen($works_bp) {
    display: block;
  }
}

.filterChild {
  position: relative;
  &:before {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: '';
    display: block;
    transform: rotate(45deg) translate(-1px, -1px);
    width: 5px;
    height: 5px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
  }
}
.filterChild:not(:last-of-type) {
  margin-right: 20px;
  @include max-screen($works_bp) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.filterSelect {
  position: relative;
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  appearance: none;
  border-radius: none;
  height: 2.2em;
  font-size: 1.6rem;
  padding: 0 35px 0 10px;
  cursor: pointer;
  border: 1px solid #000;
  @include max-screen($works_bp) {
    width: 100%;
  }
}
.footer {
  border-top: 1px solid var(--borderColor);
  padding-top: var(--s11);
  margin-top: var(--s11);
}
.back {
  text-align: center;
}
