@charset "utf-8";

/* ============================================
	BASE
============================================= */

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  text-size-adjust: 100%;
  overflow-y: scroll;
  color: var(--fontColor);
  background: var(--baseColor);

  img {
    max-width: 100%;
    height: auto;
  }
}
